{%extends 'layout.html'%}

{%block content%}
<!-- Body start.. -->


<div class="container" style="margin-top: 5%; width: 50%;">
    <form class="form-group" method="post">
        <div class="input-group mb-3">
            <input  class="form-control shadow-lg p-3" name="query" type="text" placeholder="Search.." aria-describedby="button-addon2">
            <button class="btn btn-primary" type="submit" value="Ara" id="button-addon2">Search</button>
        </div>
    </form>
</div>

<div class="div container">
    {%if result %}
        <div class="alert alert-success" role="alert">
            {{result }}
        </div>
     
    {%else%}
        {%if error%}
            <div class="alert alert-primary " role="alert" style="height: 80%; width: 50%;">
                {{error}} 
            </div>
        {%endif%}
        <p style="margin-left: 25%; font-size: small;">TCKN, YKN, VKN ve PASAPORT bilgisi girerek sorgulama yapabilirsiniz.</p>
    {%endif%}
</div>



<!-- Body end.. -->
{%endblock%}

